/*==================== LAYOUT ====================*/
.container {
  /* max-width: 1024px; */
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--nav-back-color);
  /* display: flex;
  justify-content: center; */
  /* background-color: var(--body-color); */
  /* background-color: #fed9da; */
  /* background-color: yellow; */
}

/*==================== NAV ====================*/
.nav {
  /* max-width: 968px; */
  /* width: 100%; */
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: yellow; */
}

/* .nav__logo {
  flex: 1;
} */

.nav__logo,
.nav__toggle {
  color: var(--nav-color);
  font-weight: var(--font-medium);
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.1rem;
  cursor: pointer;
  /* display: flex; */
}

.nav__toggle:hover {
  color: var(--first-color);
}

.nav__btns {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* .nav__menu {
  flex: 1;
} */

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--nav-option-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
}

.nav__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--nav-color);
  font-weight: var(--font-medium);
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__icon {
  font-size: 1.2rem;
}

.nav__close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--nav-color);
}

.nav__close:hover {
  color: var(--first-color-alt);
}

/* show menu */
.show__menu {
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .header {
    top: 0px;
    bottom: initial;
  }

  .header,
  .main {
    padding: 0 1rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
    /* background-color: yellow; */
  }

  .nav__icon,
  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list {
    display: flex;
    column-gap: 2rem;
  }

  .nav__menu {
    margin-left: auto;
  }
}
