/* ===================== SKILLS ======================= */
.skills__container {
  row-gap: 0;
}

.skills__header {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;
}

.skills__icon,
.skills__arrow {
  color: var(--first-color);
  font-size: 2rem;
}

.skills__icon {
  margin-right: var(--mb-0-75);
}

.skills__title {
  font-size: var(--h3-font-size);
}

.skills__subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.skills__arrow {
  margin-left: auto;
  transition: 0.4s;
}

.skills__notArrow {
  margin-left: auto;
  transition: 0.4s;
}

.skills__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills__bar,
.skills__percentage {
  height: 5px;
  border-radius: 0.25rem;
}

.skills__bar {
  background-color: var(--first-color-lighter);
}

.skills__percentage {
  display: block;
  background-color: var(--first-color);
}

.skills__html {
  width: 90%;
}

.skills__css {
  width: 80%;
}

.skills__js {
  width: 70%;
}

.skills__react {
  width: 70%;
}

.skills__native {
  width: 70%;
}

.skills__c {
  width: 75%;
}

.skills__node {
  width: 55%;
}

.skills__adobe {
  width: 75%;
}

.skills__close .skills__list {
  height: 0;
  overflow: hidden;
}

.skills__open .skills__list {
  /* height: max-content; */
  margin-bottom: var(--mb-2-5);
}

.skills__arrow {
  transform: rotate(-180deg);
}

.skills__wrapper {
  display: flex;
  justify-content: center;
}
